/* All pages */
* {
    box-sizing: border-box;
}

html {
    background-color: #A1D6B2;
}

.menu {
    width: 1200px;
    margin: auto;
}

.title,
.description,
.recipe-list {
    background-color: #CEDF9F;
}

.title {  /* Needed the banner to be centered and stretch over the other elements */
    height: auto;
    width: 1300px;
    text-align: center;
    border: 1px solid black;
    margin: 20px 20px 20px 100px
}


/* Styles for index.html */
.main-content {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

.description,
.recipe-list {
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
    flex: 0 1 375px; 
}

.description {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

