/* All pages */
* {
    box-sizing: border-box;
}

html {
    background-color: #A1D6B2;
}

/* Styles for index.html */
.title,
.description,
.recipe-list {
    background-color: #CEDF9F;
}

.title {
    height: auto;
    width: 1300px;
    text-align: center;
    border: 1px solid black;
    margin: 20px 20px 20px 100px
}

.description {
    display: inline-block; /* Needed to get description and Recipes next to each other */
    height: auto;
    width: 400px;
    text-align: left;
    font-size: 18px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px 20px 20px 100px
}

.description p {
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
}

.description img {
    height: auto;
    width: 350px;
    margin: auto;
}

.recipe-list {
    display: inline-block;
    height: auto;
    width: 400px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid black;
    margin-left: 474px;
}

.recipe-list li {
    font-size: 18px;
}
