/* All pages */
* {
    box-sizing: border-box;
}

html {
    background-color: #A1D6B2;
}


/* Styles for index.html */
.title,
.description,
.recipe-list {
    background-color: #CEDF9F;
}

.title {  /* Needed the banner to be centered and stretch over the other elements */
    height: auto;
    width: 1300px;
    text-align: center;
    border: 1px solid black;
    margin: 20px 20px 20px 100px
}

.description {
    display: inline-block; /* Needed to get description and Recipes next to each other */
    height: auto;
    width: 400px;
    text-align: left;
    font-size: 18px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px 20px 20px 100px
}

.description p {
    padding-bottom: 20px;
    border-bottom: 1px dashed black;
}

.description img { 
    height: auto;
    width: 350px;
    margin: auto;
}

.chef-hat {  /* Wanted to fill whitespace between description and recipe-list */
    height: auto;
    width: 300px;
    margin-left: 75px;
    margin-right: -75px; /* Had to account for push the list to the right */
}

.recipe-list {
    display: inline-block;
    height: auto;
    width: 400px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid black;
    margin-left: 174px;
    margin-top: 20px;
    position: fixed;  /* The only way I could get the div's top to align with the description div */
}

.recipe-list li {
    font-size: 18px;
}
